.rounds {
    stroke: black;
    stroke-width: 1px;
    fill: orange;
}


#canvas {
    background-color: #394648;

}

#tooltext{
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
      font-weight: 200;
      font-style: normal;
}

.background {
    background-color: #FFE5B4;
}

.header {

    color: #FF7043;
    font-size: 48px;
    font-weight: 100;


    font-family: 'Bebas Neue', sans-serif;
      font-weight: 200;
      font-style: normal;
}
.section {
    font-family: Raleway;
    color: black;
    font-size: 12px;
    font-weight: 800;
}


.detail {
    font-family: Raleway;
    color: black;
    font-size: 12px;
    font-weight: 300;
}

.detail-link {
    font-family: Raleway;
    color: black;
    font-size: 12px;
    font-weight: 500;
    text-decoration-color: black;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
}

a:hover, a:focus, a:active {
    color: black;
    text-decoration: none;
    text-decoration-color: black;
}
